@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url('./images/intro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


canvas {
    display: none;
    background-image: url('./images/tatami.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#score {
    font-size: 5rem;
    display: none;
    margin: 3rem;
} 

#restart-game {
    display: none;
    margin-right: 3rem;
    margin-top: 2rem;
}

h1 {
    color: white;
}

.btn-warning {
    font-size: 3rem;
    margin-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-secondary {
    font-size: 1rem;
    margin-bottom: 3.5rem;
    margin-left: ;
    margin-right: ;
}